@model YBOInvestigation.Classes.DriverPunishmentInfo

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Edit";
}

<div id="spinner-container">
    <img id="spinner" decoding="async" src="~/image/loading/spinner.gif" asp-append-version="true" />
</div>

<div class="d-flex justify-content-center align-item-center pb-4">
    <label class="text-primary h4"> အသေးစိတ်</label>
</div>

<div class="d-flex justify-content-end align-item-end">
    <div class="dropdown">
        <button type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-danger dropdown-toggle rounded-pill">စာရင်းသွင်းမည်</button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(-55px, 39px);" data-popper-placement="bottom-end">
            <li><a class="dropdown-item" asp-controller="YBORecord" asp-action="Create" asp-route-vehicleId="@Model.VehicleData.VehicleDataPkid" asp-route-driverId="@(@Model.Driver != null ? Model.Driver.DriverPkid : 0)">မှတ်သားဖမ်းဆီး</a></li>
            <li><a class="dropdown-item" asp-controller="CallCenterInvestigationDept" asp-action="Create" asp-route-vehicleId="@Model.VehicleData.VehicleDataPkid" asp-route-driverId="@(Model.Driver != null ? Model.Driver.DriverPkid : 0)">Call Center</a></li>
            <li><a class="dropdown-item" asp-controller="YBOInvestigationDept" asp-action="Create" asp-route-vehicleId="@Model.VehicleData.VehicleDataPkid" asp-route-driverId="@(Model.Driver != null ? Model.Driver.DriverPkid : 0)">YBO</a></li>
            <li><a class="dropdown-item" asp-controller="TrafficControlCenterInvestigationDept" asp-action="Create" asp-route-vehicleId="@Model.VehicleData.VehicleDataPkid" asp-route-driverId="@(Model.Driver != null ? Model.Driver.DriverPkid : 0)">Traffic Control Center</a></li>
            <li><a class="dropdown-item" asp-controller="SpecialEventInvestigationDept" asp-action="Create" asp-route-vehicleId="@Model.VehicleData.VehicleDataPkid" asp-route-driverId="@(Model.Driver != null ? Model.Driver.DriverPkid : 0)">ထူးခြားဖြစ်စဥ်</a></li>
            <li><a class="dropdown-item" asp-controller="YBSDriverCourseDelivery" asp-action="Create" asp-route-vehicleId="@Model.VehicleData.VehicleDataPkid" asp-route-driverId="@(Model.Driver != null ? Model.Driver.DriverPkid : 0)">YBSယာဥ်မောင်းအား သင်တန်းပေးမှု</a></li>
        </ul>
    </div>
</div>
@if (TempData.ContainsKey("Message") && TempData.ContainsKey("CssColor"))
{
    <div class="alert @TempData["CssColor"]"> @TempData["Message"] </div>
}
<div style="background-color: royalblue;" class="row mt-2 border border-dark">
    <div class="d-flex justify-content-center align-item-center p-1">
        <label class="text-black"> မော်တော်ယာဥ်အချက်အလက်စာရင်း </label>
    </div>
</div>

<div class="row mt-1 border border-dark" style="border-radius: 20px;background-color: #bbcfed6b;">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="row p-2" style="background-color: #c0c0c052;">
            <label asp-for="VehicleData.SerialNo" class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label"></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                @Model.VehicleData.SerialNo
            </div>
        </div>
        <div class="row p-2">
            <label asp-for="VehicleData.YBSName" class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label"></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                @Model.VehicleData.YBSName
            </div>
        </div>
        <div class="row p-2" style="background-color: #c0c0c052;">
            <label asp-for="VehicleData.VehicleNumber" class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label"></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                @Model.VehicleData.VehicleNumber
            </div>
        </div>
        <div class="row p-2">
            <label asp-for="VehicleData.ManufacturedYear" class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label"></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                @Model.VehicleData.ManufacturedYear
            </div>
        </div>
        <div class="row p-2" style="background-color: #c0c0c052;">
            <label asp-for="VehicleData.CngQty" class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label"></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                @Model.VehicleData.CngQty
            </div>
        </div>
        <div class="row p-2">
            <label asp-for="VehicleData.CctvInstalled" class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label"></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                @Model.VehicleData.CctvInstalled
            </div>
        </div>
        <div class="row  p-2" style="background-color: #c0c0c052;">
            <label asp-for="VehicleData.YBSCompany" class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label"></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                @Model.VehicleData.YBSCompany.YBSCompanyName
            </div>
        </div>
        <div class="row p-2">
            <label asp-for="VehicleData.Manufacturer" class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label"></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                @Model.VehicleData.Manufacturer.ManufacturerName
            </div>
        </div>
        <div class="row p-2">
            <label class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label">ယာဥ်မောင်းအမည်</label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                @(Model.Driver != null ? Model.Driver.DriverName : "")
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="row p-2" style="background-color: #c0c0c052;">
            <label asp-for="VehicleData.TelematicDeviceInstalled" class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label"></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                @Model.VehicleData.TelematicDeviceInstalled
            </div>
        </div>
        <div class="row p-2">
            <label asp-for="VehicleData.TotalBusStop" class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label"></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                @Model.VehicleData.TotalBusStop
            </div>
        </div>
        <div class="row p-2" style="background-color: #c0c0c052;">
            <label asp-for="VehicleData.POSInstalled" class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label"></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                @Model.VehicleData.POSInstalled
            </div>
        </div>
        <div class="row p-2">
            <label asp-for="VehicleData.RegistrationDate" class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label"></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                @Model.VehicleData.RegistrationDate
            </div>
        </div>
        <div class="row p-2" style="background-color: #c0c0c052;">
            <label asp-for="VehicleData.AssignedRoute" class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label"></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                @Model.VehicleData.AssignedRoute
            </div>
        </div>
        <div class="row p-3 mt-2">
            <label class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label"></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
            </div>
        </div>
        <div class="row p-2" style="background-color: #c0c0c052;">
            <label asp-for="VehicleData.YBSType" class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label"></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                @Model.VehicleData.YBSType.YBSTypeName
            </div>
        </div>
        <div class="row p-2">
            <label asp-for="VehicleData.FuelType" class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label"></label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                @Model.VehicleData.FuelType.FuelTypeName
            </div>
        </div>
        <div class="row p-2">
            <label class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label">လိုင်စင်နံပါတ်</label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                @(Model.Driver != null ? Model.Driver.DriverLicense : "")
            </div>
        </div>

    </div>
    <div class="col">
        <div class="row p-2">
            <label asp-for="VehicleData.Remarks" class="fw-bold col-lg-2 col-md-2 col-sm-4 control-label"></label>
            <div class="col-lg-10 col-md-10 col-sm-8">
                @Model.VehicleData.Remarks
            </div>
        </div>
    </div>
</div>

@*<div style="background-color: #e1e135ed;" class="row mt-3 border border-dark">
    <div class="d-flex justify-content-center align-item-center p-1">
        <label class="text-black"> YBS Company အချက်အလက်စာရင်း </label>
    </div>
</div>


<div style="background-color: #e1e135ed;" class="row mt-3 border border-dark">
    <div class="d-flex justify-content-center align-item-center p-1">
        <label class="text-black"> ယာဥ်အမျိုးအမည် အချက်အလက်စာရင်း </label>
    </div>
</div>


<div style="background-color: #e1e135ed;" class="row mt-3 border border-dark">
    <div class="d-flex justify-content-center align-item-center p-1">
        <label class="text-black"> ာယာဥ်အမျိုးအစား အချက်အလက်စာရင်း </label>
    </div>
</div>


<div style="background-color: #e1e135ed;" class="row mt-3 border border-dark">
    <div class="d-flex justify-content-center align-item-center p-1">
        <label class="text-black"> စက်သုံးဆီ အချက်အလက်စာရင်း </label>
    </div>
</div>
*@
<div class="row mt-3 border border-dark" style="background-color: #ed1b38de;">
    <div class="d-flex justify-content-center align-item-center p-1">
        <label class="text-white"> ပြစ်မှုမှတ်တမ်းများ </label>
    </div>
</div>
@if (Model.CallCenterPunishmentDriverInfo != null && Model.CallCenterPunishmentDriverInfo.Punishments != null && Model.CallCenterPunishmentDriverInfo.Punishments.Count > 0 && Model.CallCenterPunishmentDriverInfo.Punishments.Any())
{
    <div class="row mt-1 border border-dark" style="background-color: #ed1b38de;">
        <div class="d-flex justify-content-center align-item-center p-1">
            <label class="text-white"> Call Center </label>
        </div>
    </div>
    <div class="row" style="background-color: #ed1b38de;">
        <div class="col-lg-6 col-md-6 col-sm-8">
            <div class="row p-2">
                <label class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label text-white">အကြိမ်အရေအတွက်</label>
                <div class="col-lg-6 col-md-6 col-sm-8 text-white">
                    @Model.CallCenterPunishmentDriverInfo.TotalRecord
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8">
            @{
                var i = 1;
            }
            @foreach (var item in Model.CallCenterPunishmentDriverInfo.Punishments)
            {
                <div class="text-white mt-2">
                    @i &nbsp; &nbsp; @Html.DisplayFor(modelItem => item)
                </div>
                i++;
            }
        </div>
    </div>
}

@if (Model.YBOPunishmentDriverInfo != null && Model.YBOPunishmentDriverInfo.Punishments != null && Model.YBOPunishmentDriverInfo.Punishments.Count > 0 && Model.YBOPunishmentDriverInfo.Punishments.Any())
{
    <div style="background-color: #ed1b38de;" class="row mt-1 border border-dark">
        <div class="d-flex justify-content-center align-item-center p-1">
            <label class="text-white"> မှတ်သားဖမ်းဆီး </label>
        </div>
    </div>
    <div class="row" style="background-color: #ed1b38de;">
        <div class="col-lg-6 col-md-6 col-sm-8">
            <div class="row p-2">
                <label class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label text-white">အကြိမ်အရေအတွက်</label>
                <div class="col-lg-6 col-md-6 col-sm-8 text-white">
                    @Model.YBOPunishmentDriverInfo.TotalRecord
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8">
            @{
                var i = 1;
            }
            @foreach (var item in Model.YBOPunishmentDriverInfo.Punishments)
            {
                <div class="text-white mt-2">
                    @i. &nbsp; &nbsp; @Html.DisplayFor(modelItem => item)
                </div>
                i++;
            }
        </div>
    </div>
}

@if (Model.YBOInvestigationPunishmentDriverInfo != null && Model.YBOInvestigationPunishmentDriverInfo.Punishments != null && Model.YBOInvestigationPunishmentDriverInfo.Punishments.Count > 0 && Model.YBOInvestigationPunishmentDriverInfo.Punishments.Any())
{
    <div style="background-color: #ed1b38de;" class="row mt-1 border border-dark">
        <div class="d-flex justify-content-center align-item-center p-1">
            <label class="text-white"> YBO </label>
        </div>
    </div>
    <div class="row" style="background-color: #ed1b38de;">
        <div class="col-lg-6 col-md-6 col-sm-8">
            <div class="row p-2">
                <label class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label text-white">အကြိမ်အရေအတွက်</label>
                <div class="col-lg-6 col-md-6 col-sm-8 text-white">
                    @Model.YBOInvestigationPunishmentDriverInfo.TotalRecord
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8">
            @{
                var i = 1;
            }
            @foreach (var item in Model.YBOInvestigationPunishmentDriverInfo.Punishments)
            {
                <div class="text-white mt-2">
                    @i. &nbsp; &nbsp; @Html.DisplayFor(modelItem => item)
                </div>
                i++;
            }
        </div>
    </div>
}

@if (Model.TrafficControlCenterPunishmentDriverInfo != null && Model.TrafficControlCenterPunishmentDriverInfo.Punishments != null && Model.TrafficControlCenterPunishmentDriverInfo.Punishments.Count > 0 && Model.TrafficControlCenterPunishmentDriverInfo.Punishments.Any())
{
    <div style="background-color: #ed1b38de;" class="row mt-1 border border-dark">
        <div class="d-flex justify-content-center align-item-center p-1">
            <label class="text-white"> Traffic Control Center </label>
        </div>
    </div>
    <div class="row" style="background-color: #ed1b38de;">
        <div class="col-lg-6 col-md-6 col-sm-8">
            <div class="row p-2">
                <label class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label text-white">အကြိမ်အရေအတွက်</label>
                <div class="col-lg-6 col-md-6 col-sm-8 text-white">
                    @Model.TrafficControlCenterPunishmentDriverInfo.TotalRecord
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8">
            @{
                var i = 1;
            }
            @foreach (var item in Model.TrafficControlCenterPunishmentDriverInfo.Punishments)
            {
                <div class="text-white mt-2">
                    @i. &nbsp; &nbsp; @Html.DisplayFor(modelItem => item)
                </div>
                i++;
            }
        </div>
    </div>
}

@if (Model.SpecialEventInvestigationPunishmentDriverInfo != null && Model.SpecialEventInvestigationPunishmentDriverInfo.Punishments != null && Model.SpecialEventInvestigationPunishmentDriverInfo.Punishments.Count > 0 && Model.SpecialEventInvestigationPunishmentDriverInfo.Punishments.Any())
{
    <div style="background-color: #ed1b38de;" class="row mt-1 border border-dark">
        <div class="d-flex justify-content-center align-item-center p-1">
            <label class="text-white"> ထူးခြားဖြစ်စဥ် </label>
        </div>
    </div>
    <div class="row" style="background-color: #ed1b38de;">
        <div class="col-lg-6 col-md-6 col-sm-8">
            <div class="row p-2">
                <label class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label text-white">အကြိမ်အရေအတွက်</label>
                <div class="col-lg-6 col-md-6 col-sm-8 text-white">
                    @Model.SpecialEventInvestigationPunishmentDriverInfo.TotalRecord
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8">
            @foreach (var item in Model.SpecialEventInvestigationPunishmentDriverInfo.Punishments)
            {
                <div class="text-white mt-2">
                    1. &nbsp; &nbsp; @Html.DisplayFor(modelItem => item)
                </div>
            }
        </div>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
